BasedOnStyle: LLVM

Language: Cpp

UseTab: Always
IndentWidth: 4
TabWidth: 4
ColumnLimit: 240

AlignConsecutivesAssignments: AcrossEmptyLinesAndComments
AlignAfterOpenBracket: BAS_Align
AllowShortBlocksOnASingleLine: SBS_Empty
